
dl2022hw.zip
.ipynb_checkpoints/milestone1-checkpoint.ipynb
*.jpg
garbage1/one-indexed-files-notrash_test.txt
garbage1/one-indexed-files-notrash_train.txt
garbage1/one-indexed-files-notrash_val.txt
garbage1/one-indexed-files.txt
garbage1/zero-indexed-files.txt
garbage1/.ipynb_checkpoints/zero-indexed-files-checkpoint.txt
garbage1/.ipynb_checkpoints/one-indexed-files-notrash_val-checkpoint.txt
garbage1/.ipynb_checkpoints/one-indexed-files-notrash_train-checkpoint.txt
garbage1/.ipynb_checkpoints/one-indexed-files-notrash_test-checkpoint.txt
garbage1/.ipynb_checkpoints/one-indexed-files-checkpoint.txt
